.display-x {
  margin: 0;
}

.map-display-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 1em;
  top: 5em;
  background-color: #1cc3d9;
  width: 16em;
  border-radius: 5px;
  border: 3px solid black;
}

.stick-to-left {
  left: 1em;
}

.stick-to-right {
  right: 1em;
}

.map-display-btn-container {
  display: flex;
  justify-content: flex-end;
}

.map-display-btn-container button {
  background-color: #fe3a9e;
  border: none;
  color: black;
  padding: 0.4em 0.9em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.map-display-window h1 {
  margin: 0;
}

.map-display-window img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.map-display-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  margin: 1em 0;
}

.map-display-text-container {
  font-family: "Rubik";
  font-size: 1em;
  text-align: left;
  color: black;
  display: flex;
}

.stick-to-left .map-display-link-container {
  text-decoration: underline;
}

.map-display-link-container {
  text-align: center;
  padding-top: .5em;
}

.map-display-link-container a {
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.map-display-link-container a:hover {
  text-shadow: 1px 0 0px black;
}
