/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
