.comment-buttons {
  display: flex;
  align-items: center;
}

.comment-container {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #1cc3d977;
  box-sizing: border-box;
}

.comment-edit-form {
  width: 100%;
  padding: 0;
  margin: 0;
}

.comment-edit-form textarea {
  resize: vertical;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  padding: .5em;
}

.comment-user-line {
  margin: 0;
  font-size: 0.9em;
}

.comment-user {
  font-weight: bold;
  font-size: 1.05em;
}

.comment-content {
  font-size: 1.2em;
  margin: 0 0 0.2em 0;
}

.edit-btn {
  outline: none;
  box-sizing: border-box;
  background-color: #FFE41C;
  padding: 5px 4px 5px 6px;
  margin: 5px 0px;
  border: 2px solid black;
  border-radius: 20%;
  width: 32px;
  height: 30px;
}

.delete-btn {
  outline: none;
  background-color: #fe3a9e;
  padding: 6px 7px 5px 7px;
  margin: 5px 7px;
  border: 2px solid black;
  border-radius: 20%;
  width: 32px;
  height: 30px;
}

.edit-btn:hover {
	box-shadow: 0 0 4px #fe3a9e;
	background-color: #f1e163;
}
.delete-btn:hover {
	box-shadow: 0 0 4px #fe3a9e;
	background-color: #f169b0;
}
