.comment-container {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #1cc3d977;
}

.comment-user-line {
  margin: 0;
  font-size: 0.9em;
}

.comment-user {
  font-weight: bold;
  font-size: 1.05em;
}

.comment-content {
  font-size: 1.2em;
  margin: 0 0 0.2em 0;
}

.edit-btn {
  background-color: #FFE41C;
  padding: 5px 7px;
  margin: 5px 0px;
  border: 2px solid black;
  border-radius: 20%;
}

.delete-btn {
  background-color: #fe3a9e;
  padding: 5px 8px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 20%;
}

.edit-btn:hover {
	box-shadow: 0 0 4px #fe3a9e;
	background-color: #f1e163;
}
.delete-btn:hover {
	box-shadow: 0 0 4px #fe3a9e;
	background-color: #f169b0;
}