.artwalk-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  width: 70%;
  margin: 1.8em 0;

}

.artwalk-container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 3rem;
  align-items: left;

}
