.artwalk-container {
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  border-radius: 6px;
  border: 3px solid black;
  width: 300px;
  margin: 1.8em;
  background-color: #1cc3d9;
  min-height: 417px;
  justify-content: space-between;
}

.artwalk-container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  align-items: left;
}

.artwalk-city {
  margin: .8em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.artwalk-title {
  text-shadow: 1px 1px 0px #fe3a9e;
  margin: 0;
  font-size: 2.8em;
}

.link {
  color: #000;
}

.trash {
  outline: none;
  background-color: #FFE41C;
  border: none;
  width: 2em;
  height: 1.8em;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 100;
  align-self: flex-end;
  margin: 0 1em 1em 0;
  font-size: 1.2em;
}

.trash:hover {
  background-color: #f1d91e;
}
