.logout-button {
  background-color:  #1cc3d9;
  color: black;
  font-weight: bold;
  border: none;
  padding: 0.5em 0.6em;
  border-radius: 0 0 .5em .5em;
  width: 100%;
  text-align: right;
}

.logout-button:hover {
  background-color: lightblue;
}
