.header__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home_main {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.splash-container {
  display: flex;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  width: 550px;
  text-align: center;
  color: white;
  justify-self: center;
  box-sizing: border-box;
  padding: 2em 1.2em 3.5em;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subtitle {
  font-size: 1.7em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.subtitle2 {
  color: #fe3a9e;
}

.subtitle1 {
  margin: 0;
}

.title {
  display: flex;
  padding: none;
  margin: none;
  box-sizing: border-box;
  position: relative;
}
