.search-wrapper {
    border: 1px solid #FE3A9E;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    background-color: white;
}

.search-wrapper input {
    flex-grow: 1;
    outline: none;
}

.search-wrapper input,
.search-wrapper button {
    border: none;
}

.search-wrapper button {
    background-color: white;
}

.search-wrapper button i {
    color: #FE3A9E;
}