.search-wrapper {
    border: 1px solid black;
    padding: 5px;
    display: flex;
}

.search-wrapper input {
    flex-grow: 1;
    outline: none;
}

.search-wrapper input,
.search-wrapper button {
    border: none;
}

.search-wrapper button {
    background-color: transparent;
}