.artMapPageContainer {
	display: flex;
	flex-direction: row;
}

#artWalkCardList {
	background-color: lightgrey;
	height: 1000px;
	width: 350px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.artWalkCard {
	margin-bottom: 50px;
}
