.new-location-form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
  }

  .modal-toggle-btn {
      height: 45px;
      width: 175px;
      position: absolute;
      left: 45%;
      top: 40%;
      background-color: #FE3A9E;
      border-radius: 15px;
      color: white;
      font-size: large;
      font-weight: bold;
  }

  .modal-container {

    font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }