  .new-location-form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
  }

  .modal-toggle-btn {
      height: 2.2em;
      width: 10em;
      position: relative;
      /* background-color: #FE3A9E;
      border-radius: 15px;*/
      color: white;
      /* font-size: large;
      font-weight: bold; */
  }

  .modal-container {

    font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }

  .btn__x {
    outline: none;
    border: none;
}

.btn__x:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
}

.new-location-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.new-location-top-row h1 {
  font-family: "Rubik";
}

.new-location-top-row button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-right: 12px;
}

.new-location-top-row button {
  cursor: pointer;
}

.new-location-form div {
  margin-bottom: 1.5em;
}

.new-location-form div:last-of-type {
  margin-bottom: 0.8em;
}

.new-location-submit {
  display: flex;
  align-items: center;
}

.new-location-submit button {
  padding: 7px 10px;
  width: 7rem;
  flex-wrap: nowrap;
  color: white;
  border: 1px solid #fe3a9e;
  background-color: #1CC3D9;
  font-family: "Rubik";
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1.5em;
  font-size: 1em;
}

.new-location-submit label {
  padding: 7px 10px;
  width: 7rem;
  flex-wrap: nowrap;
  color: white;
  border: 1px solid #fe3a9e;
  background-color: #1CC3D9;
  font-family: "Rubik";
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1.5em;
  font-size: 1em;
}

.new-location-submit button:hover {
  box-shadow: 0 0 4px #FFE41C;
  background-color: #18b9ce;
}

.new-location-submit label:hover {
  box-shadow: 0 0 4px #FFE41C;
  background-color: #18b9ce;
}

.new-location-form input {
  border: 1px solid #1CC3D9;
  border-radius: 2px;
  padding: 0.3em;
  outline: none;
  width: 100%;

}

.new-location-form input:focus {
  box-shadow: 0 0 3px #1CC3D9;
}

.new-location-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.new-location-top-row h1 {
  font-family: "Rubik";
}

.new-location-top-row button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-right: 12px;
}

.new-location-top-row button {
  cursor: pointer;
}

.modal-bottom-text {
  font-family: "Rubik";
  margin: 0;
  text-align: center;
  font-size: 0.9em;
}

.switch-text {
  color: #1CC3D9;
  text-decoration: underline;
  cursor: pointer;
}

.new-location-top-row {
  color: #1CC3D9;
  text-align: left;
  justify-content: flex-start;
}

.add-photo-btn{
  display: none;
}

::placeholder {
  color: #fe3a9e;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
