.comment-form-container {
  display: flex;
  justify-content: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5em;
}

.comment-form textarea {
  width: 33em;
  height: 8em;
  margin-bottom: 0.8em;
}

.comment-form textarea::-webkit-input-placeholder {
  color: #aaa;
}

.comment-form button {
  padding: 0.5em 0;
  font-size: 1em;
  background-color: #fe3a9e;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}
