.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav ul {
    padding: 0;
}

.nav li {
    list-style-type: none;
}

.nav .login-nav-buttons {
    display: flex;
    justify-content: space-between;
}

#sign-up-button {
    padding-left: 15px;
}