.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 3px solid black;
  /* box-shadow: 1px 1px 3px #555; */
  background-color: #1cc3d9;
  height: 7em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#logo {
  max-width: 300px;
  box-sizing: border-box;
  padding-left: 1em;
}

.nav ul {
  padding: 0;
}

.nav li {
  list-style-type: none;
}

.search-bar-container {
  flex-basis: 50%;
  align-self: center;
}

.nav .login-nav-buttons {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik";
  box-sizing: border-box;
  padding-right: 1em;
}

#sign-up-button {
  padding-left: 15px;
}
