.dropdown {
    z-index: 100;
    box-sizing: border-box;
    position: fixed;
    top: 5em;
    right: 0;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-right: none;
    border-top: none;
    justify-content: flex-start;
    height: auto;
    background-color: white;
  }