.dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 6em;
  right: 0;
  /* background-color: white; */
  /* border: 1px solid black; */
  border-radius: 0 0 .5em .5em;
  height: fit-content;
  z-index: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1cc3d9;
  text-align: right;
}

.dropdown div {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.dropdown__li {
  width: 100%;
  align-content: center;
  box-sizing: border-box;
}

.dropdown__header--name,
.dropdown__header--email {
  color: black;
  box-sizing: border-box;
  margin: .5em 0;
}

.btn--hamburger {
  background-color: #fe3a9e;
  border: 1px solid #fe3a9e;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: .3em .4em .2em;
  font-size: 1.2em;
}

.btn--dropdown {
  color: black;
  background-color: transparent;
  border: none;
  padding: 0.5em 0.6em;
  /* border-radius: 5px; */
  width: 100%;
  text-align: right;
}

.btn--dropdown:hover {
  background-color: lightblue;
}
