.btn__x {
    outline: none;
    border: none;
}

.btn__x:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-btn {
    background-color: #fe3a9e;
    border: none;
    color: black;
    padding: 0.4em .9em;
    border-radius: 5px;
    outline: none;
    margin-right: 0.5em;
    cursor: pointer;
}

.login-btn:hover {
    box-shadow: 0 0 4px #FFE41C;
    background-color: #fc2393;
}

.login-modal-form {
    display: flex;
    flex-direction: column;
}

.login-modal-form div {
    margin-bottom: 1.5em;
}

.login-modal-form div:last-of-type {
    margin-bottom: 0.8em;
}

.login-modal-form button {
    padding: 5px 10px;
    width: 6rem;
    flex-wrap: nowrap;
    color: white;
    border: 1px solid #fe3a9e;
    background-color: #1CC3D9;
    /* background-image: linear-gradient(to right, #1CC3D9, #FE3A9E); */
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1.5em;
}

.login-modal-form button:hover {
    box-shadow: 0 0 4px #FFE41C;
    background-color: #18b9ce;
}

.login-modal-form input {
    border: 1px solid #1CC3D9;
    border-radius: 2px;
    padding: 0.3em;
    outline: none;
    width: 97%;
}

.login-modal-form input:focus {
    box-shadow: 0 0 3px #1CC3D9;
}

.login-modal-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.login-modal-top-row h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-modal-top-row button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding-top: 10px;
    padding-right: 12px;
}

.login-modal-top-row button {
    cursor: pointer;
}

.modal-bottom-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    font-size: 0.9em;
}

.switch-text {
    color: #1CC3D9;
    text-decoration: underline;
    cursor: pointer;
}

.login-modal-top-row {
    color: #1CC3D9;
    text-align: left;
    justify-content: flex-start;
}

::placeholder {
    color: #fe3a9e;
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
