/* .Modal {
  top: '50%',
      left: '50%',
      right: 'auto',
      bottom: 'auto',
      marginRight: '-50%',
      transform: 'translate(-50%, -50%)',
      padding: "1.5em",
      backgroundColor: "rgba(254, 58, 158, .8)",
      borderRadius: "none",
      border: "none",
      width: "40%",
      boxSizing: "border-box",
} */
