/* .artContainer {
    height: 300px;
    width: 300px;
    border: solid medium black;
    display: flex;

}

.artContentContainer {
    height: 80%;
    width: 80%;
}

.artImage {
    height: 50%;
    width: 50%;
} */

/* .artContentInfo {

}

.artContentAddress{

}

.remove-btn {

} */