.artContainer {
	border: 1px solid blue;
	border-radius: .25rem;
}
​
.artContentContainer {
	border: 1px solid blue;
	border-radius: .25rem;
	width: 90%;
	margin: auto;
}
​
.artImage {
	background-size: cover;
	background-position: center;
	background-color: #ccc;
}
​
.artContentInfo {
	padding: 15px;
}
​
button {
	background-color: transparent;
	border: 1px solid #2196f3;
	padding: .5rem 1rem;
	cursor: pointer;
	border-radius: .25rem;
}
